<ion-header>
  <ion-toolbar>
    <ion-title>Sign-Up</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registreForm">
    <div>
      <ion-item>
        <ion-input name="email" formControlName="email" type="email" placeholder="your@email.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="password" formControlName="password" type="password" placeholder="password"></ion-input>
      </ion-item>
    </div>
    <div style="text-align: center;margin: auto;">
      <ion-button  expand="block" (click)="signUpUser()">Sign Up</ion-button>
    </div>
  </form>
</ion-content>
