<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ToDo app
    </ion-title>
      <ion-icon slot="end" (click)="logOut()" name="log-out-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="bg-img">
    <ion-tabs slot="bottom">

      <ion-tab-bar >
        <ion-tab-button tab="toDo">
          <ion-label>To Do </ion-label>
          <ion-icon name="today-outline"><ion-badge color="danger">66</ion-badge>
          </ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="done">
          <ion-label> Done </ion-label>
          <ion-icon name="checkmark-done-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>


</ion-content>






